<template>
	<form class="footer_form" @submit.prevent="sendEmail">
		<label class="has-float-label">
			<input type="text" name="user_name" placeholder="René Coty" />
			<span>Nom</span>
		</label>

		<label class="has-float-label">
			<input type="email" name="user_email" placeholder="email@example.com" />
			<span>Email</span>
		</label>

		<label class="has-float-label">
			<textarea
				name="message"
				type="text"
				rows="6"
				cols="30"
				maxlength="500"
				placeholder=" "
			>
			</textarea>
			<span>Votre message</span>
		</label>

		<button class="button play" type="submit"></button>
	</form>
</template>

<script>
import emailjs from "emailjs-com";
export default {
	updated: function() {
		const labels = document.querySelectorAll(".input-group label");
		labels.forEach((label) => {
			label.innerHTML = label.innerText
				.split("")
				.map(
					(letter, index) =>
						`<span style="transition-delay: ${index * 50}ms;">${letter}</span>`
				)
				.join("");
		});
	},
	methods: {
		sendEmail: (e) => {
			emailjs
				.sendForm(
					"service_c7qb82w",
					"template_rrsvx13",
					e.target,
					"user_cnacJ6usUGkgCpq23Rrck"
				)
				.then(
					(result) => {
						console.log("SUCCESS!", result.status, result.text);
					},
					(error) => {
						console.log("FAILED...", error);
					}
				);
		},
	},
};
</script>

<style scoped lang="scss">
//// footer form ////

.footer_form {
	display: block;
	width: 50vw;
	margin-top: 10vh;
}
// pur css float label
.has-float-label {
	@include float-label-container;

	@include float-label;

	input,
	textarea {
		@include float-label-input;
		width: 100%;
		background-color: $background-color;
		font-size: inherit;
		font-family: inherit;
		color: white;
		padding-top: 1em;
		margin-bottom: 1em;
		border: 0;
		border-radius: 0;
		border-bottom: 2px solid rgba(221, 221, 221, 0.3);

		@include float-label-scaled {
			top: 0.25em;
		}

		&:focus {
			outline: none;
			border-color: $font-color;
		}
	}
}

/// button play

.button.play {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 74px;
	height: 74px;
	border-style: solid;
	border-width: 60px 0px 60px 120px;
	border-color: transparent transparent transparent #202020;
	&::after {
		content: "Envoyer";
		display: block;
		height: 60px;
		width: 60px;
		position: absolute;
		left: -110px;
		top: -12px;
		color: $font-color;
		opacity: 0.5;
		font-size: 150%;
	}
}
</style>
