<template>
	<section class="who_i_am" v-on:mousemove="logoExtr">
		<div class="container">
			<div class="row">
				<div class="row_child">
					<div class="who_i_am_content">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry. Lorem Ipsum has been the industry's standard dummy text
						ever since the 1500s, when an unknown printer took a galley of type
						and scrambled it to make a type specimen book. It has survived not
						only five centuries, but also the leap into electronic typesetting,
						remaining essentially unchanged.
					</div>
				</div>
				<div class="row_child">
					<div class="svg_wrap">
						<div class="svg_inner">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 398 374">
								<g class="type-item" id="t0">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>

									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>

								<g class="type-item" id="t1">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>

								<g class="type-item" id="t2">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t3">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t4">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>

									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t5">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t6">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t7">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t8">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t9">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t10">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t11">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t12">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t13">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t14">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t15">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t16">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t17">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t18">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t19">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item" id="t20">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
								<g class="type-item-base">
									<polygon
										points="0 0.0228576536 197.998966 372 396 0"
										class="svg_bg"
									></polygon>
									<path
										class="sca"
										transform="translate(135, 160) scale(2.4)"
										d="M27.06-14.56L40.69-46.06L48.31-46.06L48.31 0L40.69 0L40.69-31.69L30.38-6.06L23.75-6.06L13.38-31.69L13.38 0L5.75 0L5.75-46.06L13.38-46.06L27.06-14.56Z"
										fill="#151515"
									/>
								</g>
							</svg>
							<a class="logo_link" href="#" target="">QUI SUIS-JE</a>
						</div>
						<div class="logo_text">
							<div class="logo_text_wrap">
								<span class="logo_text_inner">{{ whoIAm }}</span>
								<span class="logo_text_inner">{{ whoIAm }}</span>
							</div>
						</div>
						<div class="logo_text logo_text_1">
							<div class="logo_text_wrap">
								<span class="logo_text_inner">{{ whoIAm }}</span>
								<span class="logo_text_inner">{{ whoIAm }}</span>
							</div>
						</div>
						<div class="logo_text logo_text_2">
							<div class="logo_text_wrap">
								<span class="logo_text_inner">{{ whoIAm }}</span>
								<span class="logo_text_inner">{{ whoIAm }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="logo_link" href="/who-I-am/" target="">qui suis-je</a>
	</section>
</template>

<script>
import $ from "jquery";
import { TweenMax } from "gsap/all";

export default {
	name: "HomeWhoIAm",
	data() {
		return {
			whoIAm:
				"QUI SUIS-JE • QUI SUIS-JE • QUI SUIS-JE • QUI SUIS-JE • QUI SUIS-JE • QUI SUIS-JE • QUI SUIS-JE • QUI SUIS-JE •",
		};
	},
	methods: {
		logoExtr(t) {
			let e,
				n = 7 / window.innerHeight;
			const o = 7 / window.innerWidth;
			const i = t.clientX - window.innerWidth / 1.25;
			const r = t.clientY - window.innerHeight / 1.3;
			const s = o * i + 1,
				a = n * r + 1;
			const l = $(".type-item");
			for (e = l.length; e--; ) {
				const c = "t" + e,
					u = 3 * (l.length - e),
					p = 0.5 + e / (2 * l.length);
				TweenMax.to("#" + c, 0, {
					x: -s * u,
					y: -a * u,
					scale: p,
				});
			}
		},
	},
};
</script>

<style scoped lang="scss">
.who_i_am {
	padding: 125px 0 100px;
	height: 1000px;
	.row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
		.row_child {
			flex: 0 0 50%;
			max-width: 50%;
			padding-right: 15px;
			padding-left: 15px;
			position: relative;
		}
	}
}

.who_i_am_content {
	font-size: 36px;
	font-style: normal;
	line-height: 1.16;
	letter-spacing: 0.83px;
}

.svg_wrap {
	position: absolute;
	right: 65px;
	max-width: 440px;
	width: 100%;
	top: 20px;
}

.svg_inner {
	position: relative;
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	overflow: hidden;
}
.type-item,
.type-item-base {
	stroke: $font-color;
}
.type-item-base {
	transform: translate(0%, 0%);
}
.type-item polygon,
.type-item-base polygon {
	fill: transparent;
	transform-origin: center center !important;
}

/// logo text

.logo_text {
	position: absolute;
	top: -20px;
	left: -20px;
	overflow: hidden;
	height: 14px;
	font-size: 12px;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: 0.33px;
	width: calc(100% + 20px);
	white-space: nowrap;
}
.svg_wrap:hover .logo_text {
	opacity: 0;
}
.logo_text_wrap {
	width: 1475px;
}
.logo_text_inner {
	float: right;
	will-change: transform;
}
.logo_text_1 {
	top: 10px;
	transform: rotate(118deg);
	left: 100%;
	width: calc(100% + 54px);
	transform-origin: 0 0;
	margin-left: 25px;
	margin-top: -20px;
	background-color: $background-color;
	padding-bottom: 20px;
}
.logo_text_2 {
	top: 100%;
	transform: rotate(242deg);
	left: 50%;
	width: calc(100% + 54px);
	transform-origin: 0 100%;
	margin-top: 6px;
	margin-left: 7px;
}

.logo_link {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	background: $font-color;
	opacity: 0;
	-webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 1.33px;
	padding: 0 0 100px;
	text-transform: uppercase;
}
.svg_wrap:hover .logo_link {
	opacity: 1;
	width: 100%;
	height: 100%;
	color: $background-color;
}
</style>
