<template>
	<section class="home_me">
		<div class="container">
			<h1 class="me_title" data-speed="2" v-on:click="scrollToWhat">
				<span class="title-line">
					<span>je suis <br /></span>
					<span>Morgan Lefevre <br /></span>
				</span>
			</h1>
		</div>
		<div class="me_more">More</div>
	</section>
</template>

<script>
import $ from "jquery";
export default {
	methods: {
		scrollToWhat() {
			const wwT = $(".who_i_am").position().top;
			window.scrollTo({
				top: wwT,
				left: 0,
				behavior: "smooth",
			});
			$(".cursor").removeClass("zooming_xxl");
			$(".me_label")
				.stop()
				.hide();
		},
	},
};
</script>

<style scoped lang="scss">
.home_me {
	display: flex;
	height: 100vh;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 100;
	background-color: $background-color;
	top: 0;
	left: 0;
	transition: transform 0.6s ease-in-out;
}
.me_title {
	mix-blend-mode: difference;
	font-size: 80px;
	font-weight: normal;
	line-height: 1.13;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin: 2% auto 0;
	max-width: 1360px;
}

.title-line {
	display: block;
	overflow-y: hidden;
	line-height: 1;
	margin: 0 auto;
	z-index: 10;
}

.me_more {
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	font-size: 10px;
	letter-spacing: 0.83px;
	text-transform: uppercase;
	z-index: 10;
	pointer-events: none;
}
</style>
