<template>
	<div class="wrapper">
		<h1><i>“Les parcours sinueux sont ceux qui atteignent les sommets.”</i></h1>

		<section class="container">
			<article class="article">
				<div class="date_triangle">
					<p>1977-1977</p>
				</div>
				<div>
					<h2>Neuradom</h2>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae odio
						vitae tempora praesentium ipsam maxime dignissimos numquam porro a.
						A, eos magnam? Officia illo sint, expedita aspernatur quam mollitia
						rerum.
					</p>
				</div>
			</article>
			<article class="article">
				<div class="date_triangle">
					<p>1977-1977</p>
				</div>
				<div>
					<h2>Neuradom</h2>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae odio
						vitae tempora praesentium ipsam maxime dignissimos numquam porro a.
						A, eos magnam? Officia illo sint, expedita aspernatur quam mollitia
						rerum.
					</p>
				</div>
			</article>
			<article class="article">
				<div class="date_triangle">
					<p>1977-1977</p>
				</div>
				<div>
					<h2>Neuradom</h2>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae odio
						vitae tempora praesentium ipsam maxime dignissimos numquam porro a.
						A, eos magnam? Officia illo sint, expedita aspernatur quam mollitia
						rerum.
					</p>
				</div>
			</article>
			<article class="article">
				<div class="date_triangle">
					<p>1977-1977</p>
				</div>
				<div>
					<h2>Neuradom</h2>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae odio
						vitae tempora praesentium ipsam maxime dignissimos numquam porro a.
						A, eos magnam? Officia illo sint, expedita aspernatur quam mollitia
						rerum.
					</p>
				</div>
			</article>
		</section>
	</div>
</template>

<script>
export default {
	methods: {},
};
</script>

<style scoped lang="scss">
.wrapper {
	width: 1600px;
	width: 74vw;
	max-width: 1420px;
}
h1 {
	display: block;
	margin: 200px 0 100px 0;
	text-align: left;
}
.container {
	padding: 1em;
}
.article {
	display: grid;
	grid-template-columns: 1fr 6fr;
	width: 90%;
	gap: 0em 5em;
	border-right: 1px solid $font-color;
	padding: 1em;
	margin: 2em 0;
	position: relative;
	&:nth-child(odd) {
		margin-left: 10%;
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		height: 1px;
		background: linear-gradient(to right, #151515 6%, #ddd);
		width: 100%;
	}
	&::before {
		top: 0;
		background: #ddd;
	}
}

.date_triangle {
	position: relative;
	width: 0px;
	height: 0px;
	border-style: inset;
	border-width: 0 75px 129.9px 75px;
	border-color: transparent transparent $font-color transparent;
	transform: rotate(180deg) scale(1.245);
	color: $background-color;
	p {
		position: absolute;
		width: 90px;
		top: 80px;
		left: -52px;
		transform: rotate(180deg);
	}
}
</style>
