<template>
	<div class="pyramid-gyro">
		<div class="pyramid-axis">
			<div class="pyramid-wall front"></div>
			<div class="pyramid-wall back"></div>
			<div class="pyramid-wall left"></div>
			<div class="pyramid-wall right"></div>
		</div>
	</div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
// pyr

.pyramid-gyro {
	position: absolute;
	top: 30px;
	left: 0%;
	margin-left: -100px;
	z-index: 1000;
}

.pyramid-axis {
	position: relative;
	width: 50px;
	transform-style: preserve-3d;
}

.pyramid-wall {
	position: absolute;
	border: 25px solid transparent;
}

.front {
	bottom: -20px;
	transform: translateZ(-6.25px) rotateX(30deg);

	border-top: 50px solid $font-color;
}
.left {
	bottom: -20px;
	left: 18.75px;
	transform: rotateY(270deg) translateX(-25px) rotateX(330deg);
	transform-origin: center left;
	border-top: 50px solid #ccc;
}

.back {
	bottom: -20px;
	transform: translateZ(6.25px) rotateY(180deg) rotateX(30deg);
	border-top: 50.5px solid $font-color;
	&::after {
		content: "M";
		width: 20px;
		height: 20px;
		position: absolute;
		top: -45px;
		left: -7.5px;
		color: $background-color;
	}
}

.right {
	bottom: -25px;
	right: 0px;
	transform: rotateY(-270deg) translateX(25px) rotateX(330deg);
	transform-origin: top right;
	border-top: 50px solid #ccc;
}
</style>
