<template>
	<header class="header">
		<div class="container">
			<div class="header_inner">
				<div class="header_left">
					<header-pyramid-gyro></header-pyramid-gyro>
				</div>
				<nav class="header_right">
					<ul
						id="menu-main-navigation"
						:class="{ headroom: scrolled }"
						v-on:handle-scroll="handleScroll"
						class="main_nav"
					>
						<li class="menu-item" id="elm">
							<router-link to="/">home</router-link>
						</li>
						<li class="menu-item">
							<a href="">portfolio</a>
						</li>
						<li class="menu-item">
							<router-link to="/parcours">parcours</router-link>
						</li>
						<li class="menu-item">
							<router-link to="/contact">contact</router-link>
						</li>
					</ul>
					<button class="menu_open" @click="toggleModal">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="22"
							height="6"
							viewBox="0 0 22 6"
						>
							<g fill="#DDD" fill-rule="evenodd">
								<path d="M16 0L19 6 22 0zM8 0L11 6 14 0zM0 0L3 6 6 0z"></path>
							</g>
						</svg>
					</button>
					<modal-nav></modal-nav>
				</nav>
			</div>
		</div>
	</header>
</template>

<script>
import HeaderPyramidGyro from "./HeaderPyramidGyro.vue";
import ModalNav from "./../ModalNav.vue";
export default {
	components: {
		HeaderPyramidGyro,
		ModalNav,
	},
	data() {
		return {
			limitPosition: 300,
			scrolled: false,
			lastPosition: 0,
		};
	},
	methods: {
		toggleModal() {
			this.$emit("toggleModal");
		},
		handleScroll() {
			if (this.limitPosition < window.scrollY) {
				this.scrolled = true;
				// hide
			}

			if (this.limitPosition > window.scrollY) {
				this.scrolled = false;
				// show
			}
		},
	},
	created() {
		window.addEventListener("scroll", this.handleScroll);
	},
	destroyed() {
		window.removeEventListener("scroll", this.handleScroll);
	},
};
</script>

<style scoped lang="scss">
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1500;
	padding: 37px 0 20px;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_left,
.header_right {
	pointer-events: auto;
	position: relative;
}

.main_nav {
	display: inline-block;
	transition: opacity 0.5s;
}

.main_nav li {
	list-style: none;
	display: inline-block;
	margin-left: 46px;
	font-size: 0;
}

.main_nav li a {
	text-decoration: none;
	font-size: 10px;
	line-height: 1.4;
	display: inline-block;
	position: relative;
	color: $font-color;
	text-transform: uppercase;
	letter-spacing: 1.17px;
}

.menu_open {
	display: inline-block;
	background: none;
	border: 0;
	width: 22px;
	height: 22px;
	text-align: center;
	margin-left: 38px;
}

.headroom {
	opacity: 0;
}
</style>
