<template>
	<div class="container">
		<a class="contact_line" href="/contact/" target="">
			<span class="contact_line_wrap">
				<span class="contact_line_inner">
					<span>ME CONTACTER •</span><span>ME CONTACTER •</span>
					<span>ME CONTACTER •</span><span>ME CONTACTER •</span>
					<span>ME CONTACTER •</span><span>ME CONTACTER •</span>
					<span>ME CONTACTER •</span><span>ME CONTACTER •</span>
				</span>
			</span>
		</a>
	</div>
</template>

<script>
export default {
	updated: function() {
		const labels = document.querySelectorAll(".input-group label");
		labels.forEach((label) => {
			label.innerHTML = label.innerText
				.split("")
				.map(
					(letter, index) =>
						`<span style="transition-delay: ${index * 50}ms;">${letter}</span>`
				)
				.join("");
		});
	},
};
</script>

<style scoped lang="scss">
// ---contact line---
.container {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}
.contact_line {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	font-size: 150px;
	font-style: italic;
	line-height: 1.07;
	-webkit-text-stroke: 1px $font-color;
	color: transparent !important;
	z-index: 20;
	text-rendering: optimizeLegibility;
}

.contact_line:hover {
	color: #fff !important;
}

.contact_line_wrap {
	width: 7770px;
	animation: 130s linear infinite marqueeCont;
	display: block;
	backface-visibility: hidden;
}

.contact_line_inner span {
	margin: 0 15px;
}

@keyframes marqueeCont {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}
</style>
