<template>
	<footer>
		<div class="container">
			<div class="footer_wrap"></div>
			<ul class="footer_social">
				<li>
					<a
						href="https://www.linkedin.com/in/morganlefevre77/"
						target="_blank"
					>
						<img src="../assets/icons/linkedin.png" alt="linkedin logo" />
					</a>
				</li>
				<li>
					<a href="https://gitlab.com/Haplo_24/" target="_blank">
						<img src="../assets/icons/gitlab.png" alt="gitlab logo" />
					</a>
				</li>
				<li>
					<a href="">
						<img src="../assets/icons/email.png" alt="email logo" />
					</a>
				</li>
			</ul>
		</div>
	</footer>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
footer {
	padding: 250px 0 110px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}

// ---footer_row---
.footer_wrap {
	padding: 75px 0 0;
	border-top: 1px solid $font-color;
	font-size: 10px;
	letter-spacing: 0.83px;
	line-height: 1.2;
}

.footer_social {
	display: flex;
	justify-content: space-around;
	img {
		height: 30px;
		width: 30px;
	}
}
</style>
