<template>
	<transition name="fade" appear>
		<div class="modal" v-if="isOpen">
			<div class="modal-content" @keydown.esc="toggleModal" tabindex="0">
				<div class="modal-header">
					<transition name="fade" appear>
						<button class="close" @click="toggleModal">×</button>
					</transition>
				</div>

				<div class="modal-body nav" v-if="isOpen">
					<ul>
						<li><a href="#">Home</a></li>
						<li><router-link to="/contact">contact</router-link></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>

				<div class="overlay"></div>
			</div>
		</div>
	</transition>
</template>

<script>
export default {
	name: "ModalNav",
	data() {
		return {
			isOpen: false,
		};
	},
	created() {
		const escapeHandler = (e) => {
			if (e.key === "Escape") {
				this.isOpen = false;
			}
		};
		document.addEventListener("keydown", escapeHandler);
		this.$once("hook:destroyed", () => {
			document.removeEventListener("keydown", escapeHandler);
		});
	},

	methods: {
		toggleModal() {
			this.isOpen = !this.isOpen;
		},
	},
	mounted() {
		this.$parent.$on("toggleModal", this.toggleModal);
	},
};
</script>

<style scoped lang="scss">
.modal {
	position: fixed;
	z-index: 1000;
	padding: 0.5%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.modal-content {
	position: relative;
	margin: auto;
	padding: 0;
	width: 100%;
	height: 98vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-duration: 0.4s;
	background-color: $font-color;
}

.close {
	@include absolute-el(1%, auto, auto, 94%);
	color: $background-color;
	font-size: 5em;
	font-weight: bold;
}
ul {
	position: absolute;
	top: 15%;
	width: 100%;
	li {
		text-align: center;
		margin: 10px 0;
		a {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 3vw;
			color: $background-color;
		}
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.4s linear;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}
/*
.pop-enter-active,
.pop-leave-active {
	transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}

.pop-enter,
.pop-leave-to,
.fade-leave-active below {
	opacity: 0;
	transform: scale(0.3) translateY(-50%);
}*/
</style>
