<template>
	<div id="app" v-on:mousemove="updateCoordinates">
		<div
			id="scroll_wrapp"
			v-scroll="scrollFunction"
			data-scrollbar
			tabindex="1"
		>
			<the-header></the-header>
			<router-view></router-view>
			<router-view name="hommWho"></router-view>
			<router-view name="contactLine"></router-view>
			<the-footer></the-footer>
			<div class="cursor"></div>
		</div>
	</div>
</template>

<script>
import TheHeader from "./components/header/TheHeader";
import TheFooter from "./components/Footer";

import $ from "jquery";
import { TweenLite } from "gsap/all";

export default {
	name: "App",
	components: {
		TheHeader,
		TheFooter,
	},
	data() {
		return {};
	},

	directives: {
		scroll: {
			inserted: function(el, binding) {
				let f = function(evt) {
					if (binding.value(evt, el)) {
						window.removeEventListener("scroll", f);
					}
				};
				window.addEventListener("scroll", f);
			},
		},
	},

	methods: {
		updateCoordinates: function(e) {
			let curs = document.querySelector(".cursor");
			let x = e.pageX;
			let y = e.pageY;
			curs.style.left = x + "px";
			curs.style.top = y - window.scrollY + "px";
			this.parallax(e);
		},
		parallax: function(e) {
			document.querySelectorAll(".me_title").forEach((layer) => {
				const speed = layer.getAttribute("data-speed");
				const x = (window.innerWidth - e.pageX * speed) / 100;
				const y = (window.innerHeight - e.pageY * speed) / 100;
				layer.style.transform = `translate(${x}px, ${y}px)`;
			});
		},

		scrollFunction: function() {
			// logo text
			if ($(".logo_text").length > 0) {
				$(".logo_text").each(function() {
					const vidTop = $(this).offset().top;
					var transPos = (vidTop - window.scrollY - 1000) * 0.4;
					TweenLite.to($(this).find(".logo_text_inner"), 0.2, {
						x: transPos,
					});
				});
			}

			/// pyr gyro
			let degree = $(window).scrollTop() / 10;
			$(".pyramid-axis").css({
				transform: "rotateY(" + degree + "deg)",
			});
		},
	},
};
</script>

<style scoped lang="scss">
#app {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	align-self: center;
}
#scroll_wrap {
	height: 100%;
	width: 100%;
}
</style>
