@mixin absolute-el($top, $right, $bottom, $left) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

// placeholder float label

@mixin float-label-container {
	display: block;
	position: relative;
}

@mixin float-label {
	label,
	> span {
		position: absolute;
		left: 0;
		top: 0;
		cursor: text;
		font-size: 75%;
		opacity: 1;
		transition: all 0.2s;
		@content;
	}
}

@mixin float-label-input {
	&::placeholder {
		opacity: 1;
		transition: all 0.2s;
	}
	&:placeholder-shown:not(:focus)::placeholder {
		opacity: 0;
	}
}

@mixin float-label-scaled {
	&:placeholder-shown:not(:focus) + * {
		font-size: 150%;
		opacity: 0.5;
		@content;
	}
}
