// couleur
$background-color: #151515;

//textes
$font-size: 1rem;
$font-family: "Inter", sans-serif;
$font-color: #ddd;

// position / dimention
$page-width: 650px;
$radius-btn: 5px;
$padding-txt: 10px;
