@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/Inter.ttf");
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-width: none;
	outline: none;
}

a,
button,
body,
label,
input,
textarea {
	cursor: none;
}

html {
	font-size: $font-size;
	font-family: $font-family;
	background: $background-color;
	color: $font-color;
	line-height: 1.4;
}

body {
	margin: 0;
	width: 100vw;
	height: 100%;
}

// Hide scrollbar for Chrome, Safari and Opera
body::-webkit-scrollbar {
	display: none;
}

// Hide scrollbar for IE, Edge and Firefox
body {
	-ms-overflow-style: none; // IE and Edge
	// scrollbar-width: none; // Firefox
}

h1 {
	text-align: center;
	max-width: 90vw;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: $font-color;
}

.container {
	margin: 0 auto;
	width: 100%;
	padding: 0 15%;
}

button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	font-family: inherit;
	padding: 0;
}

textarea {
	resize: none;
}

// cursor
.cursor {
	mix-blend-mode: difference;
	width: 14px;
	height: 14px;
	margin-top: -7px;
	margin-left: -7px;
	border-radius: 50%;
	position: fixed;
	top: -100px;
	pointer-events: none;
	z-index: 2000;
	align-items: center;
	transition: all 0.4s ease-in-out, top 0s, left 0s;
}

.cursor:before {
	content: "";
	border-top: 14px solid #ddd;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.4s ease-in-out, top 0s, left 0s;
}

.cursor.zooming {
	/*	width: 42px;
	height: 42px;
	margin-top: -21px;
	margin-left: -21px;*/
	transform: scale(5);
}
/*
.cursor.zooming:before {
		border-top: 42px solid #ddd;
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
	//	transform: scale(2);
}*/

.cursor.zooming_xl {
	/*	width: 140px;
	height: 140px;
	margin-top: -60px;
	margin-left: -70px;*/
	transform: scale(10);
}
.cursor.zooming_xl span {
	font-size: 12px;
}

.cursor.zooming_xxl {
	/*	width: 294px;
	height: 294px;
	margin-top: -137px;
	margin-left: -147px;*/
	transform: scale(21);
}
/*
.cursor.zooming_xl:before {
		border-top: 140px solid #ddd;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
}

.cursor.zooming_xxl:before {
	border-top: 294px solid #ddd;
	border-left: 147px solid transparent;
	border-right: 147px solid transparent;
}
*/
